<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<bertuga_cartaregistrada>
			<version>1.0.0</version>
            <depends>
                <Mage_Shipping/>
            </depends>
		</bertuga_cartaregistrada>
	</modules>
	<global>
		<models>
		  <bertuga_cartaregistrada>
			<class>Bertuga_CartaRegistrada_Model</class>
		  </bertuga_cartaregistrada>
		</models>
		<resources>
		  <bertuga_cartaregistrada_setup>
			<setup>
			  <module>Bertuga_CartaRegistrada</module>
			</setup>
			<connection>
			  <use>core_setup</use>
			</connection>
		  </bertuga_cartaregistrada_setup>
		</resources>
        <helpers>
            <cartaregistrada>
                <class>Bertuga_CartaRegistrada_Helper</class>
            </cartaregistrada>
        </helpers>
		<sales>
			<shipping>
				<carriers>
					<bertuga_cartaregistrada>
						<class>Bertuga_CartaRegistrada_Model_Carrier_CartaRegistrada</class>
					</bertuga_cartaregistrada>
				</carriers>
			</shipping>
		</sales>
	</global>
	<default>
		<carriers>
			<bertuga_cartaregistrada>
				<active>1</active>
				<model>Bertuga_CartaRegistrada_Model_Carrier_CartaRegistrada</model>
			</bertuga_cartaregistrada>
		</carriers>
    </default>
</config>